/* all */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* basic element setting */
a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 4em;
  margin-bottom: 80px;
  margin-top: -60px;
  font-family: "Saira Stencil One", cursive;
  font-weight: normal;
  animation: ani1 1s infinite alternate-reverse ease-in-out;
  color: white;
}

ul, li, ol {
  list-style: none;
}

/* aditialnal setting */
.outline {
  outline: 1px solid white;
}

.cursor {
  cursor: pointer;
}

.dp_none {
  display: none !important;
}

.dp_block {
  display: block !important;
}

.dp_flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.pos_rel {
  position: relative;
}

/* div area setting */
html,
body,
#root,
.routerContainer,
.container {
  width: 100%;
  height: 100%;
}

.routerContainer {
  background-color: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showContainer,
.calContainer {
  width: 100%;
  height: 100%;
}

/* Home Component Setting */
.container {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  /* WriteList */
  /* ShowList */
}

.container::before {
  content: "";
  display: block;
  background: #00000031;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container .modal {
  z-index: 3;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1d1f20;
}

.container .modal .close {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 10;
  font-size: 2em;
}

.container .modal .h1 {
  font-size: 3em;
}

.container .modal .modal_form {
  width: 500px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
  opacity: 0.8;
}

.container .modal .modalViewer_video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 1;
}

.container .modal .block_mouse {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.container .modal .modal_h2 {
  margin-top: -160px;
  margin-bottom: 60px;
  font-size: 4em;
  font-family: "Saira Stencil One", cursive;
  font-weight: normal;
  color: #ffeaee;
}

.container .modal .modal_input {
  border: none;
  outline: none;
  border-bottom: 5px solid #8181fa;
  border-radius: 5px;
  width: 300px;
  height: 100px;
  text-align: center;
  font-size: 30px;
  background-color: inherit;
  color: white;
}

.container .modal .modal_input:focus {
  animation: opacity-0-to-1 0.5s infinite alternate-reverse linear;
}

.container .wrap {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: pink;
}

.container .wrap .write {
  margin: 50px 0;
  padding: 1em 2em;
  width: 100px;
  border: 2px solid #afafaf;
  border-radius: 100px;
  -webkit-box-shadow: 9px 5px 14px 2px rgba(255, 255, 255, 0.45);
          box-shadow: 9px 5px 14px 2px rgba(255, 255, 255, 0.45);
  text-align: center;
  overflow: hidden;
}

.container .wrap .write:before {
  content: "";
  background-color: #dc4a38;
  width: 120%;
  height: 254%;
  position: absolute;
  top: 46%;
  left: -90%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.31 -0.105 0.13 1.59);
          transition-timing-function: cubic-bezier(0.31 -0.105 0.13 1.59);
}

.container .wrap .write:hover:before {
  top: -68%;
  left: -8%;
}

.container .wrap .write:hover span {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.container .wrap .write span {
  display: inline-block;
  font-family: "Saira Stencil One", cursive;
  font-weight: normal;
  -webkit-transition: all 0.35s 0.35s;
  transition: all 0.35s 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.31 -0.105 0.43 1.59);
          transition-timing-function: cubic-bezier(0.31 -0.105 0.43 1.59);
  -webkit-transform: scale();
          transform: scale();
}

.container .wrap .content_wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container .wrap .content_wrap .toDoList {
  padding: 40px;
  font-size: 20px;
}

.container .wrap .content_wrap .toDoList .x_btn,
.container .wrap .content_wrap .toDoList .f_btn {
  margin-left: 10px;
  background-color: inherit;
  outline: none;
  border: none;
  font-size: 23px;
  font-weight: 600;
  color: white;
}

.container .wrap .content_wrap .toDoList .finished {
  margin-top: 20px;
}

.container .wrap .content_wrap .toDoList .pending_li,
.container .wrap .content_wrap .toDoList .finished_li {
  margin: 10px 0 10px 1em;
}

.container .wrap .content_wrap .toDoList .pending,
.container .wrap .content_wrap .toDoList .finished {
  font-size: 1.5em;
  font-family: "Saira Stencil One", cursive;
  font-weight: normal;
}

.container .wrap .content_wrap .toDoList .pending_li,
.container .wrap .content_wrap .toDoList .finished_li {
  font-size: 0.8em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container .wrap .content_wrap .movieViewer {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .wrap .content_wrap .movieViewer h2 {
  margin-bottom: 20px;
  font-family: "Saira Stencil One", cursive;
  font-weight: normal;
  font-size: 1.7em;
}

.container .wrap .content_wrap .movieViewer .movieViewer_video {
  display: none;
  border-radius: 20px;
}

.container .wrap .content_wrap .movieViewer .movieViewer_default {
  display: none;
  font-size: 10em;
}

.openCld {
  cursor: pointer;
  background: rgba(245, 115, 82, 0.8);
  -webkit-box-shadow: 3px 3px 12px 1px rgba(255, 255, 255, 0.45);
          box-shadow: 3px 3px 12px 1px rgba(255, 255, 255, 0.45);
  border: 2px solid #fff;
  border-radius: 50px;
  position: absolute;
  bottom: 50px;
  right: 100px;
  padding: 15px 30px;
  -webkit-transition-timing-function: cubic-bezier(0.31 -0.105 0.13 1.59);
          transition-timing-function: cubic-bezier(0.31 -0.105 0.13 1.59);
}

.openCld span {
  display: inline-block;
  font-family: "Saira Stencil One", cursive;
  font-weight: normal;
  color: white;
  -webkit-transition: all 0.35s 0.35s;
  transition: all 0.35s 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.31 -0.105 0.43 1.59);
          transition-timing-function: cubic-bezier(0.31 -0.105 0.43 1.59);
  -webkit-transform: scale();
          transform: scale();
}

.openCld:hover span {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* Calender */
.calContainer .calender {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #00000069;
}

.calContainer .calender .my-calendar {
  width: 700px;
  cursor: default;
  border: 1px solid #ddd;
  margin: 30px;
  padding: 20px 20px 10px;
  text-align: center;
  font-weight: 800;
}

.calContainer .calender .my-calendar .clicked-date {
  border-radius: 25px;
  margin-top: 36px;
  float: left;
  width: 42%;
  padding: 46px 0 26px;
  background: #ddd;
}

.calContainer .calender .my-calendar .clicked-date .cal-day {
  color: #ff5f77;
  font-size: 24px;
}

.calContainer .calender .my-calendar .clicked-date .cal-date {
  color: rgba(245, 115, 82, 0.8);
  font-size: 130px;
}

.calContainer .calender .my-calendar .calendar-box {
  float: right;
  width: 58%;
  color: white;
  font-weight: 600;
}

.calContainer .calender .my-calendar .calendar-box .ctr-box {
  padding: 0 16px;
  margin-bottom: 20px;
  font-size: 20px;
}

.calContainer .calender .my-calendar .calendar-box .ctr-box .btn-cal {
  color: white;
  position: relative;
  float: left;
  width: 25px;
  height: 25px;
  margin-top: 5px;
  font-size: 1.5em;
  cursor: pointer;
  border: none;
  background: none;
}

.calContainer .calender .my-calendar .calendar-box .ctr-box .btn-cal:after {
  content: '<';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 25px;
  font-weight: bold;
}

.calContainer .calender .my-calendar .calendar-box .ctr-box .btn-cal.next {
  float: right;
}

.calContainer .calender .my-calendar .calendar-box .ctr-box .btn-cal.next:after {
  content: ">";
}

.calContainer .calender .my-calendar .calendar-box .cal-table {
  width: 100%;
  color: white;
}

.calContainer .calender .my-calendar .calendar-box .cal-table th {
  width: 14.2857%;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 900;
}

.calContainer .calender .my-calendar .calendar-box .cal-table td {
  padding: 3px 0;
  height: 50px;
  font-size: 15px;
  vertical-align: middle;
}

.calContainer .calender .my-calendar .calendar-box .cal-table td.day {
  position: relative;
  cursor: pointer;
}

.calContainer .calender .my-calendar .calendar-box .cal-table td.today {
  background: #ffd255;
  border-radius: 50%;
  color: #fff;
}

.calContainer .calender .my-calendar .calendar-box .cal-table td.day-active {
  background: #ff8585;
  border-radius: 50%;
  color: #fff;
}

.calContainer .calender .my-calendar .calendar-box .cal-table td.has-event:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #FFC107;
}

.calContainer .calender .closeCld {
  position: absolute;
  top: 100px;
  right: 50px;
  font-size: 2em;
  z-index: 10;
}

/* gradient setting */
.gradient_border {
  --borderWidth: 6px;
  background: #1d1f20;
  position: relative;
  border-radius: var(--borderWidth);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gradient_border::after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  -webkit-animation: animatedgradient 3s ease alternate infinite;
          animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

/* animation setting */
@-webkit-keyframes ani1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes ani1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes opacity-0-to-1 {
  0% {
    border-bottom: 5px solid transparent;
  }
  100% {
    border-bottom: 5px solid #8181fa;
  }
}

@keyframes opacity-0-to-1 {
  0% {
    border-bottom: 5px solid transparent;
  }
  100% {
    border-bottom: 5px solid #8181fa;
  }
}

@-webkit-keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* navigation */
.navContainer {
  z-index: 3;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navContainer a {
  margin-left: 20px;
  margin-right: 20px;
}

.navContainer a .navLink {
  color: #de5151;
  font-size: 1.5em;
  font-weight: 600;
  font-family: "Saira Stencil One", cursive;
  font-weight: normal;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.navContainer a .navLink:hover {
  font-size: 1.55em;
  line-height: 0.3em;
  opacity: 0.8;
}

.profContainer {
  border: 2px solid tomato;
  width: 650px;
  height: 500px;
  border-radius: 60px;
  background-color: #fff9db;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profContainer form .formInput {
  height: 25px;
  width: 200px;
  font-size: 1em;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.63);
  margin-right: 1rem;
  padding: 5px;
  padding-left: 7px;
  border-radius: 5px;
}

.profContainer form .formInput::-webkit-input-placeholder {
  font-weight: 100;
  margin-left: 30px;
}

.profContainer form .formInput:-ms-input-placeholder {
  font-weight: 100;
  margin-left: 30px;
}

.profContainer form .formInput::-ms-input-placeholder {
  font-weight: 100;
  margin-left: 30px;
}

.profContainer form .formInput::placeholder {
  font-weight: 100;
  margin-left: 30px;
}

.profContainer form .formBtn {
  background-color: #ffb6ad;
  outline: none;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 100px;
  font-size: 15px;
  margin-bottom: 5px;
}

.profContainer form .formBtn:hover {
  opacity: 0.7;
}

.profContainer .displayName {
  color: tomato;
  opacity: 0.7;
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
}

.profContainer .formBtn {
  margin-top: 100px;
  background-color: #d98156;
  border-radius: 20px;
  width: 140px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 2.2;
  color: white;
  font-size: 1.5em;
  border: 2px solid rgba(238, 238, 238, 0.411);
  overflow: hidden;
}

.profContainer .formBtn span:first-child {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.profContainer .formBtn span:first-child:hover {
  -webkit-transform: rotate(540deg) scale(2);
          transform: rotate(540deg) scale(2);
}

/* Auth */
.authContainer {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.authContainer input {
  all: unset;
}

.authContainer .authBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 20rem;
  margin-bottom: 3rem;
}

.authContainer .authBtns .authBtn {
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid gray;
  padding: 0.6rem 0.6rem;
  font-size: 0.75rem;
  text-align: center;
}

.authContainer .authForm {
  max-width: 21.5rem;
}

.authContainer .authInput {
  max-width: 20rem;
  width: 100%;
  padding: 0.65rem;
  border: 1px solid gray;
  border-radius: 30px;
  background-color: white;
  margin-bottom: 0.7rem;
  font-size: 0.75rem;
  color: black;
}

.authContainer .authSubmit {
  text-align: center;
  background: #40aaff;
  color: white;
  margin-top: 0.8rem;
  cursor: pointer;
}

.authContainer .authError {
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-size: 0.75rem;
}

.authContainer .authSwitch {
  color: #04aaff;
  cursor: pointer;
  margin-top: 0.65rem;
  margin-bottom: 3.1rem;
  display: block;
  font-size: 0.8rem;
  text-decoration: underline;
}
/*# sourceMappingURL=index.css.map */